<!-- Form Layout -->
<div class="card">
    <div class="card-body">
      <h4 class="mb-32">Gestion de Profil : Modifier votre mot de passe </h4>
      <form [formGroup]="registerForm" (ngSubmit)="changepwd()">
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>ancien mot de passe :</mat-label>
          <input matInput type="password"  placeholder="passwordold" formControlName="passwordold" class="form-control">
        </mat-form-field>
        <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>nouveau mot de passe :</mat-label>
        <input matInput type="password"  placeholder="password" formControlName="password" class="form-control">
      </mat-form-field>
        <button mat-button class="btn btn-info fw-normal" type="submit">Valider</button>
      </form>
    </div>
  </div>