<div class="container">
  <div *ngIf="error" class="error-message">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="candidatures.length > 0">
    <h2>Détails des candidatures pour l'offre <strong>{{ titreOffre }}</strong></h2>
    <h3>Informations sur les candidats</h3>
    <div class="candidature-cards">
      <div *ngFor="let candidature of candidatures" class="candidature-card">
        <div class="candidate-header">
          <h4>{{ candidature.nom }} {{ candidature.prenom }}</h4>
        </div>
        <p><strong>Email:</strong> {{ candidature.email || 'N/A' }}</p>
        <p><strong>Numéro:</strong> {{ candidature.num || 'N/A' }}</p>
        <p><strong>Poste souhaité:</strong> {{ candidature.poste || 'N/A' }}</p>
        <p><strong>Adresse:</strong> {{ candidature.adresse || 'N/A' }}</p>

        <div *ngIf="candidature.diplomes.length > 0" class="diplomes-list">
          <h5>Diplômes</h5>
          <ul>
            <li *ngFor="let diplome of candidature.diplomes">
              <p><strong>Faculté:</strong> {{ diplome.faculte || 'N/A' }}</p>
              <p><strong>Intitulé:</strong> {{ diplome.intitule || 'N/A' }}</p>
              <p><strong>Date:</strong> {{ diplome.date || 'N/A' }}</p>
            </li>
          </ul>
        </div>

        <div *ngIf="candidature.experiences.length > 0" class="experiences-list">
          <h5>Expériences</h5>
          <ul>
            <li *ngFor="let experience of candidature.experiences">
              <p><strong>Période:</strong> {{ experience.periode || 'N/A' }}</p>
              <p><strong>Nom de la Société:</strong> {{ experience.nomSociete || 'N/A' }}</p>
            </li>
          </ul>
        </div>

        <p>
          <strong>CV:</strong>
          <a *ngIf="objectURLs[candidature.id]" [href]="objectURLs[candidature.id]" download="cvhope.pdf">
            {{ candidature.cvfilename || 'Télécharger CV' }}
          </a>
          <span *ngIf="!objectURLs[candidature.id]">N/A</span>
        </p>
        <div class="button-group">
          <button class="approve-button" (click)="openApproveModal(candidature)">Approuver</button>
          <button class="reject-button" (click)="rejeterCandidature(candidature.id)">Rejeter</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="candidatures.length === 0">
    <p>Aucune candidature trouvée.</p>
  </div>
</div>