.candidature-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espace entre les cartes */
}

.candidature-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px); /* Trois cartes par ligne */
  transition: transform 0.2s;
}

.candidature-card:hover {
  transform: scale(1.02); /* Effet de survol */
  background-color: #cef1b9;
}

.candidate-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reject-button {
  background-color: #dc3545; /* Rouge */
  color: white;
}
.button-group {
  display: flex;
  gap: 15px; /* Espace entre les boutons */
}

.approve-button {
  background-color: #28a745; /* Vert */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1em; /* Taille de police uniforme */
}

.approve-button:hover {
  background-color: #218838; /* Vert foncé */
  transform: translateY(-2px); /* Effet de survol */
}

.reject-button {
  background-color: #dc3545; /* Rouge */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1em; /* Taille de police uniforme */
}

.reject-button:hover {
  background-color: #c82333; /* Rouge plus foncé */
  transform: translateY(-2px); /* Effet de survol */
}